/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    background: #333;
    padding: 10px;
    list-style: none;
}

nav ul li a {
    color:white;
    padding: 10px;
    text-decoration: none;
}

.text-shadow {
  text-shadow: 2px 2px 6px rgba(0,0,0,0.8);
} */

.card:hover {
    transform: scale(1.05);         /* একটু বড় হবে hover এ */
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);  /* subtle shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Top Deals Card Hover Effect */
.deal-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


